* {
    font-family: roboto;
    text-align: left;
    font-size: 15px;
}

body {
    background-color: darkseagreen
}

li {
    list-style: none;
    margin-left: 5%;
    font-size: 10px;
}

h1 {
    margin-left: 10%;
}

div {
    text-align: center;
}
